.magic-card {
    bottom: -400px;
    position: absolute;
    width: 40%;
    border-radius: 12px;
    background: purple;
    box-shadow: 0xp 4px 4px 0px;
}

.magic-offset {
    margin-bottom: 0px;
}

.bg-hero {
    height: 40vh;
 
}

.magic-anchor {
    position: relative;
}