.magic-anchor {
    position: relative;
}

.magic-card {
    bottom: -120px;
    position: absolute;
    border-radius: 12px;
    background: purple;
    box-shadow: 0xp 4px 4px 0px;
}

.magic-offset {
    margin-bottom: 0px;
}

.bg-hero {
    height: 40vh;
 
}

.pad-75 {
    padding: 75px;
}


/* would need to learn to turn this off on mobile view to use this. I found an easier work around */
.cst-margin {
    padding: 0px 0px 50px 50px;
}

@media (min-width: 720px){
    .cst-margin {
        padding: 150px 50px 50px 50px;
    }
}
    